@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Lato:wght@400;700;900&family=Meera+Inimai&family=Poppins&family=Roboto&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #d3d3d3;
    background-color: #d3d3d3;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hide{
    display: none;
}

/* -----------Header */

.header{
    width: 100%;
}

.hamburge{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1rem 1.20rem;
    transition: all .5s ease-in-out;
}

.hamburge span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 4px;
    background: #d3d3d3; 
    transition: all .5s ease-in-out;
}

/* ------------Home page */

.landing-page{
    background-image: url(../img/hombg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
}

.home-page{
    color: #d3d3d3;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1.2rem;
}

.home-title{
    background: url(../img/titlebg.jpg) no-repeat center/cover;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 1.5rem;
}

.home-subtitle{
    color: #ec5242;
    font-size: 1.3rem;
    font-weight: 200;
}

.home-bio{
    border: solid 1px;
    padding: 1rem;
    background-color: #81757550;
}

.event-time{
    padding: 1rem 0;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #e9e0e0;
}

.location{
    font-size: 0.9rem;
}

/* --------------Info section */

.info {
    background-image: url(../img/infopg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.2rem;
}

.white-subtitle {
  margin: 1rem 0 0.4rem;
}

.subtitles-underline{
    padding: 0.5px;
    background: hwb(6 26% 7% / 0.697);
    width: 3rem;
    margin-bottom: 1.4rem;
}

.info-deck{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.info-card{
    display: flex;
    align-items: center;
    background: #ffffff0f;
    width: 95%;
    padding: 1rem 0;
}

.card-img{
    margin-left: 0.6rem;
}

.card-title{
    color: #ec5242;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 0.9rem;
    width:33%;
}

.card-bio {
    font-size: 0.7rem;
    width: 10rem;
}

.button {
    color: #d3d3d3;
    background-color: #ec5242;
    font-size: 1.3rem;
    padding: 1.2rem;
    border: none;
    margin: 1.7rem 0;
}

/* --------------------------Team section */

.team-page {
    flex-direction: column;
    align-items: center;
    padding: 0 1.2rem;
}

.subtitle {
    color: #272a31;
    margin: 1rem 0 0.4rem;
}

.team-container {
    flex-direction: column;
}

.team-card {
    grid-template-columns: 1fr 1fr;
    color: #272a31;
    margin-bottom: 1.5rem;
}

.chestbg {
    position: absolute;
    width: 5rem;
    height: 5rem;
    z-index: 1;
}

.team-photo {
    position: relative;
    width: 8rem;
    height: 8rem;
    z-index: 2;
    margin: 1.1rem 0 0 1.1rem;
}

.team-info {
    flex-direction: column;
    gap: 0.4rem;
}

.job-underline{
    padding: 1px;
    background: hwb(0 9% 91% / 0.434);
    width: 1.8rem;
}

.job-position {
 color: #ae2111b9;
 font-style: italic;
}

.team-resume {
    font-size: 0.7rem;
}

/* -----------About page */

.about-page{
    color: #d3d3d3;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.2rem;
    text-align: center;
}

.about-title{
    color: #d24231;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 1.5rem;
}

.about-subtitle{
    color: #ec5242;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.about-bio{
    border: solid 1px;
    padding: 1rem;
    background-color: #4c4646c7;
    width: 98%;
}

.about-contactMsg{
    font-size: 0.9rem;
    margin-top: 1rem;
}

.about-contactMsg a {
    color: #808080;
}

/* ----------About the logo */

.about-logo {
    text-align: center;
    color: #272a31;
    padding: 1rem 1.2rem;
}

.about-logo-text {
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.explain {
    font-size: 0.8rem;
    margin-bottom: 1.3rem;
}

#logo-showcase {
    background-color: #000000;
    border: 1px solid #da6262;
    margin-bottom: 1.4rem;
}

/*  -------------Past events showcase */

.past-events {
    text-align: center;
    color: #272a31;
    padding: 1rem 1.2rem;
}

.past-event-text {
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.logo-explain {
    font-size: 0.8rem;
    margin-bottom: 1.3rem;
}

.past-event-deck {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.past-event-1 {
    background-image: url(../img/test.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem;
    width: 90%;
}

.past-event-2 {
    background-image: url(../img/test.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem;
    width: 90%;
}

/* -----------Partners section */

.partner-section {
    flex-direction: column;
    align-items: center;
    background-color: #272a31;
}
